body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    position: relative;
}

.full {
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/* ---------- MENU ---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.menu {
    background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
    left: -285px;
    height: 100%;
    position: fixed;
    width: 285px;
    z-index: 30;
}

.menu ul {
    border-top: 1px solid #636366;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #636366;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
    
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #CCCCCC;
}

.project li {
    text-transform: none;
    padding-left: 50px;
}

.blog li {
    text-transform: none;
    padding-left: 50px;
}


.menu a {
    color: #fff;
}

.icon-close {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
}

/* -------------------------------------------------------------------------- */
/* ---------- HEADER -------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

header {
    position: fixed;
    height: 3em;
    background-color: #00014F;
    z-index: 20;
    color: white;
}

header .side {
    font-size: 1em;
    width: 30%;
    text-align: left;
    padding-left: 3%;
    display: inline-block;
}

.icon-menu {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-menu i {
    margin-right: 5px;
}

header .center {
    width: 40%;
    text-align: center;
    display: inline-block;
}

header h1, header h1 a {
    margin: 0;
    margin-top: 0.5em;
    font-size: 1.5em;
    color: white;
    text-align: center;
    text-decoration: none;
}

header a:hover {
    color: white;
    text-decoration: none;
}

.behind {
    height: 5em;
}

/* -------------------------------------------------------------------------- */
/* ---------- BODY ---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.about p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 1.1em;
    letter-spacing: 110%;
    line-height: 130%;
}

.about h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.about a {
    color: black;
    text-decoration: underline;
}

.main_pic {
    float: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
}

hr {
    border: 0;
    height: 2px;
    clear: both;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.divider {
    height: 3em;
}

/* -------------------------------------------------------------------------- */
/* ---------- BLOG ---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.blog_post {
    width: 80%;
    margin-left: 10%;
}

.blog_post p {
    letter-spacing: 1px;
    
}

.blog_title {
    text-align: center;
    text-transform: uppercase;
}

.blog_date {
    text-align: center;
    font-style: italic;
    font-size: 120%;
}

.blog_quote {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-size: 120%;
    font-style: italic;
    color: #000000;
}

.blog_caption {
    margin-top: 0;
    font-size: 90%;
    color: #000000;
    text-align: center;
    font-style: italic;
    margin-bottom: 2em;
}

.blog_media {
    text-align: center;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 2em;
}

.blog_video {
    position: relative;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.blog_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blog_media img {
    max-width: 100%;
}

.blog_formula {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-size: 120%;
    font-weight: bolder;
    color: #000000;
}

.blog_footnote {
    font-size: 85%;
    font-style: italic;
}

.blog_section {
    font-size: 120%;
    font-weight: bolder;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}


/* -------------------------------------------------------------------------- */
/* ---------- FOOTER -------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

footer {
    position: fixed;
    bottom: 0px;
    height: 2.5em;
    padding-top: 0.5em;
    
    background-color: #05345C;
    color: white;
    font-size: 1em;
}

footer div {
    display: inline-block;
    text-align: center;
    width: 32%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}